{% extends "bootstrap/base.html" %}
{% block title %}Search{% endblock %}

{% block content %}
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Twitter Sentiment</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Manually Classify</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <form action="/assign_sent" method="post">
          <div class="form-group">
            <label for="topic">Topic</label>
            <input type="text" class="form-control" id="topic" placeholder="Enter Topic" required name="topic">
          </div>
          <div class="form-group">
            <label for="numTweets">#Tweets</label>
            <input type="number" class="form-control" id="numTweets" placeholder=5 name="num_tweets", required>
          </div>
          <input type="submit" class="btn btn-primary" value="Fetch Tweet">
        </form>
    </div>



{% endblock %}

